body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 400pt;
    color: #2d2d2d;
}